
@import 'reset';

// FONTS and COLORS
h1{ font-family: "poppins",sans-serif; color: #fff; font-size: 64px; }
h2, a{ font-weight: 800; font-family: "nunito",sans-serif; color: #f4cd76; text-transform: uppercase; text-decoration: none; letter-spacing: 0.2em;}
p{ font-weight: 400; font-family: "nunito", sans-serif; color: #fff;  line-height: 2em;}
footer p { font-family: "Myriad Pro", Myriad, "helvetica", sans-serif; }
$pink: #ed6f6e;

* {
	box-sizing: border-box;
}

body {
	background: #1f1d1d;
}

.overlay-cast-bkg{ 
	background-image: url('../img/castGlow.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}


.burger{

	div{
		height: 4px;
		width: 30px;
		background-color: $pink;
		left: 30px;
		position: absolute;
		transition: .2s ease-in-out;
		@media screen and (min-width: 768px){
			left: 5%;
		}
		
		&:first-child{
			top: 5%;		
		}
		&:nth-child(2){
			top: 6%;
		}
		&:last-child{
			top: 7%;
		}
	}
}

header{
	display: flex;
	margin: 35px auto;
	width: 94%;

	.desktop-nav{
		display: none;
		// show on burger click
		&.show{
			display: flex;
		}
	}

	.logo{
		@media screen and (max-width: 767px){
			position: absolute;
			top: 4%;
			right: 5%;
		}
		@media screen and (min-width: 768px){
			margin-left: 9%;
			padding-right: 55%;
		}
		@media screen and (min-width: 1024px){
			padding-right: 60%;
		}
	}

	.pink-line{
		@media screen and (max-width: 767px){
			display: none;
		}
		background-color: #ed6f6e; 
		width: 2px;
		height: 30px;
		@media screen and (min-width: 768px){
			margin-right: 17%;
		}
		@media screen and (min-width: 1024px){
			margin-right: 18%;
		}
		
	}

	.search{
		@media screen and (max-width: 767px){
			display: none;
		}
		height: 26px;
	}


}


.hero-content{
	display: flex;
	flex-direction: row;
	
	@media screen and (max-width: 767px){
		width: 85%;
		margin: 30% auto;
	}
	@media screen and (min-width: 768px){
		width: 75%;
		margin: 15% auto;
	}
	@media screen and (min-width: 1024px){
		width: 65%;
	}
	@media screen and (min-width: 1224px){
		width: 55%;
	}

	.icons, .hero-text{
		display: flex;
		flex-direction: column;
	}

	.icons{
		margin-right: 20px;
		align-items: center;

		div{
			@media screen and (max-width: 767px){
				width: 40px;
				margin: 10px 0 20px 0;
			}
			margin: 20px 0;
			background-color: #ed6f6e;
			width: 50px;
			height: 0;
			padding-bottom: 100%;
			border-radius: 100%;
			transition: .8s ease-in-out;
			&:hover {
				cursor: pointer;
				transform: scale(0);
			}
		}

		.star, .share{
			width: 15px;
			padding: 30px 0;
		
			@media screen and (min-width: 768px){
				padding: 40px 0;
			}
		}

		.star {
			transition: 1s ease-in-out;
			&:hover {
				cursor: pointer;
				transform: rotate(-360deg);
			}
		}
		.share {
			transition: 1s ease-in-out;
			&:hover {
				cursor: pointer;
				transform: rotateY(-360deg);
			}
		}

	}

	.hero-text{
		
		@media screen and (max-width: 767px){
			h1{ font-size: 40px; margin-bottom: 50px; line-height: 1.2em;}		
			h2{ margin-bottom: 50px; font-size: 0.9em;}	
			p{font-size: 0.8em;}
		}
		@media screen and (min-width: 768px){
			h1{ font-size: 50px; line-height: 1.5em; white-space: nowrap;}
			margin-left: 7%;	
			h2{ margin-top: 40px; margin-bottom: 60px; font-size: 0.9em;}		
			p{font-size: 0.9em; max-width: 777px;}
		}
		@media screen and (min-width: 1024px){
			h1{ font-size: 60px;}			
		}
	}

}




